* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    background: black;
    color: white;
}

.container{
    padding: 0 2rem;
    text-align: center;
}

.restart-btn{
    display: none;
    color: white;
    padding: 0 2rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 1rem;
    border: 2px solid yellow;
    border-radius: 5px;
}

.restart-btn:hover{
    background: black;
    color:#fff;
}

.header{
    text-align:center;
}



.player1, .player2{
    margin: 20px 0px;
    text-align: center;
}

.player1 {
    padding-left: 400px;
}

.player2 {
    padding-right: 400px;
}

.player1_name:hover {
    color: rgb(186, 28, 128);
}

.score{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    font-size: 1.2rem;
    color:#fff;
}

#rock  {
    max-width: 150px;
    grid-area: rock;
}

#paper {
    max-width: 150px;
    grid-area: paper;
}

#scissors {
    max-width: 150px;
    grid-area: scissor;
}

.choice1:hover{
    cursor: pointer;
}

.choice1:hover{
    color: rgb(101, 35, 146);
}

.saparateLine{
    font-size: 200px;
}
